<!-- <div *ngFor="let todo of todoList">
  <button (click)="deleteTodo(todo.id)">delete</button>
  <button (click)="editToDo(todo.id, descriptionInput, status)">
    Edit Todo
  </button>
</div>

<div>
  <input
    [(ngModel)]="descriptionInput"
    type="text"
    placeholder="add todo/edit todo"
  />
  <select [(ngModel)]="status">
    <option value="ToDo">ToDo</option>
    <option value="done">Done</option>
    <option value="inProgress">In Progress</option>
  </select>
  <button (click)="addTodo(descriptionInput)">add todo</button>
</div> -->
